archive/old-projects/pyrastore-bot/workflow-backup.json
{"updatedAt":"2026-02-11T14:35:40.829Z","createdAt":"2026-02-11T14:07:53.094Z","id":"vcO2gtud9oEXGf9C","name":"PyraStore - Telegram Customer Service Bot","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"trigger-1","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[0,0],"webhookId":"842f4d1c-7c11-4433-8109-0821680e5dbf","credentials":{"telegramApi":{"id":"GuTBWkUJ9qMyL8KA","name":"PyraStore Telegram Bot"}}},{"parameters":{"promptType":"define","text":"=Chat ID: {{ $json.message.chat.id }}\nUsername: {{ $json.message.from.username || \"unknown\" }}\nMessage: {{ $json.message.text }}","options":{"systemMessage":"أنت مساعد خدمة عملاء ذكي وودود لمتجر **PyraStore UAE** 🛍️\nمتجر إلكتروني في الإمارات يبيع منتجات متنوعة (إلكترونيات، جمال، أزياء، ألعاب، منزل).\n\n## أسلوبك:\n- تتكلم عربي (لهجة خليجية ودودة)\n- سريع ومختصر — رد واحد فقط لكل رسالة\n- تستخدم إيموجي بشكل مناسب\n- محترف وأمين\n- لا تكرر نفس السؤال أبداً\n\n## القدرات:\n1. **البحث عن منتجات**: لما العميل يسأل عن منتج أو فئة، استخدم أداة البحث فوراً واعرض النتائج\n2. **إرسال صور**: بعد ما تعرض منتج، أرسل صورته باستخدام أداة إرسال الصور\n3. **تأكيد الشراء وجمع البيانات**\n\n## عملية الشراء (مهم جداً!):\nلما العميل يقول يبغى يشتري منتج، اتبع هذه الخطوات بالترتيب:\n- **خطوة 1:** أكد المنتج والسعر\n- **خطوة 2:** اطلب الاسم الكامل\n- **خطوة 3:** اطلب رقم الجوال\n- **خطوة 4:** اطلب عنوان التوصيل الكامل\n- **خطوة 5:** اسأل عن طريقة الدفع (كاش عند الاستلام أو تحويل بنكي) — اسأل مرة واحدة فقط وانتظر الرد\n- **خطوة 6:** اعرض ملخص الأوردر الكامل واسأل \"تأكد؟\"\n- **خطوة 7:** بعد التأكيد، احفظ الأوردر\n\n⚠️ قواعد مهمة:\n- اسأل سؤال واحد فقط في كل رسالة\n- لا تكرر نفس السؤال أبداً — لو العميل رد، انتقل للخطوة التالية\n- لو العميل قال \"كاش\" أو \"عند الاستلام\" = كاش عند الاستلام\n- لو العميل قال \"تحويل\" = تحويل بنكي\n\n## حفظ الأوردر:\nلما تحفظ الأوردر، أرسل JSON بهذا الشكل بالضبط:\n{\"chat_id\": \"CHAT_ID\", \"username\": \"USERNAME\", \"name\": \"اسم العميل\", \"phone\": \"رقم الجوال\", \"address\": \"العنوان الكامل\", \"payment\": \"كاش عند الاستلام\", \"products\": [{\"name\": \"اسم المنتج\", \"price\": 259, \"quantity\": 1}], \"total\": 259, \"notes\": \"\"}\n\n## عرض المنتجات:\n📦 **اسم المنتج**\n💰 السعر: XXX AED\n🔗 [اضغط هنا للشراء](الرابط)\n\n## إرسال الصور:\nبعد عرض كل منتج، أرسل صورته بهذا الشكل:\n{\"image_url\": \"رابط الصورة\", \"chat_id\": \"CHAT_ID\", \"caption\": \"📦 اسم المنتج - AED السعر\"}\n\n## معلومات المتجر:\n- الاسم: PyraStore UAE\n- الموقع: https://events.pyramedia.info/\n- العملة: AED (درهم إماراتي)\n- التوصيل: متاح في كل الإمارات\n- الدفع: كاش عند الاستلام أو تحويل بنكي"}},"id":"agent-1","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[304,0]},{"parameters":{"model":"openai/gpt-4.1","options":{}},"id":"llm-1","name":"OpenRouter Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[112,304],"credentials":{"openRouterApi":{"id":"8wV5dZWbPCKkr4ng","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}","contextWindowLength":20},"id":"memory-1","name":"Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[304,304]},{"parameters":{"description":"Search products in PyraStore catalog. Input: JSON string like {\"q\": \"electronics\"} or {\"q\": \"all\"} to get all products. Returns product details with name, price, category, image URL, and link.","jsCode":"// Search PyraStore products - uses $http (n8n compatible)\nconst baseUrl = \"https://events.pyramedia.info/api\";\n\nconst categoryMap = {\n  \"الكترونيات\": \"electronics\", \"إلكترونيات\": \"electronics\", \"الكترونيا\": \"electronics\", \"الكتروني\": \"electronics\",\n  \"جمال\": \"beauty\", \"تجميل\": \"beauty\", \"بيوتي\": \"beauty\", \"كريم\": \"beauty\", \"عناية\": \"beauty\",\n  \"ازياء\": \"fashion\", \"أزياء\": \"fashion\", \"ملابس\": \"fashion\", \"شنط\": \"fashion\", \"شنطة\": \"fashion\", \"ساعة\": \"fashion\", \"ساعات\": \"fashion\",\n  \"العاب\": \"toys\", \"ألعاب\": \"toys\", \"لعب\": \"toys\", \"لعبة\": \"toys\",\n  \"منزل\": \"home\", \"بيت\": \"home\", \"منزلي\": \"home\", \"مطبخ\": \"home\",\n  \"electronics\": \"electronics\", \"beauty\": \"beauty\", \"fashion\": \"fashion\",\n  \"toys\": \"toys\", \"home\": \"home\"\n};\n\nlet input;\ntry { input = JSON.parse(query); } catch(e) { input = { q: query }; }\nconst searchQuery = (input.q || input.query || input.search || query).trim().toLowerCase();\n\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: \"GET\",\n    url: baseUrl + \"/products.php\",\n    returnFullResponse: false\n  });\n  \n  let products = resp.products || [];\n  \n  const matchedCategory = categoryMap[searchQuery];\n  \n  let filtered;\n  if (matchedCategory) {\n    filtered = products.filter(p => p.category === matchedCategory);\n  } else {\n    filtered = products.filter(p => \n      p.title && p.title.toLowerCase().includes(searchQuery)\n    );\n    if (filtered.length === 0) {\n      const words = searchQuery.split(/\\s+/);\n      filtered = products.filter(p => \n        words.some(w => w.length > 2 && p.title && p.title.toLowerCase().includes(w.toLowerCase()))\n      );\n    }\n  }\n  \n  if (filtered.length === 0) {\n    filtered = products.slice(0, 5);\n    let result = \"لم أجد نتائج مطابقة. إليك أحدث المنتجات:\\n\\n\";\n    for (const p of filtered) {\n      result += \"🆔 \" + p.id + \" | 📦 \" + p.title.substring(0, 60) + \"\\n\";\n      result += \"💰 \" + p.price + \" AED | 🏷️ \" + (p.category || \"عام\") + \"\\n\";\n      result += \"🔗 \" + (p.affiliate_link || \"\") + \"\\n\";\n      result += \"🖼️ \" + (p.image_url || \"\") + \"\\n---\\n\";\n    }\n    result += \"\\nالفئات المتاحة: إلكترونيات، جمال، أزياء، ألعاب، منزل\";\n    return result;\n  }\n  \n  filtered = filtered.slice(0, 5);\n  let result = \"نتائج البحث (\" + filtered.length + \" منتجات):\\n\\n\";\n  for (const p of filtered) {\n    result += \"🆔 \" + p.id + \" | 📦 \" + p.title.substring(0, 60) + \"\\n\";\n    result += \"💰 \" + p.price + \" AED | 🏷️ \" + (p.category || \"عام\") + \"\\n\";\n    result += \"🔗 \" + (p.affiliate_link || \"\") + \"\\n\";\n    result += \"🖼️ \" + (p.image_url || \"\") + \"\\n---\\n\";\n  }\n  return result;\n} catch(e) {\n  return \"خطأ في البحث: \" + e.message;\n}","toolDescription":"بحث عن منتجات في المتجر. أرسل اسم المنتج أو الفئة بالعربي أو الإنجليزي. الفئات: إلكترونيات، جمال، أزياء، ألعاب، منزل. أمثلة: \"electronics\" أو \"الكترونيات\" أو \"Fossil\" أو \"bag\"."},"id":"tool-search","name":"Tool: Search Products","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.2,"position":[512,304]},{"parameters":{"description":"Send a product image to the customer on Telegram. Input: JSON string like {\"image_url\": \"https://...\", \"chat_id\": \"123456\", \"caption\": \"Product Name - 99 AED\"}. ALWAYS include chat_id from the conversation.","jsCode":"// Send product image via Telegram using $http\nconst botToken = \"***REMOVED***\";\nlet input;\ntry { input = JSON.parse(query); } catch(e) { return \"Error: Input must be JSON with image_url and chat_id\"; }\n\nconst imageUrl = input.image_url || input.url;\nconst chatId = input.chat_id;\nconst caption = input.caption || \"\";\n\nif (!imageUrl || !chatId) return \"Error: Missing image_url or chat_id\";\n\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: \"POST\",\n    url: \"https://api.telegram.org/bot\" + botToken + \"/sendPhoto\",\n    body: {\n      chat_id: chatId,\n      photo: imageUrl,\n      caption: caption,\n      parse_mode: \"Markdown\"\n    },\n    headers: { \"Content-Type\": \"application/json\" }\n  });\n  return \"Image sent successfully!\";\n} catch(e) {\n  return \"Error sending image: \" + e.message;\n}","toolDescription":"إرسال صورة منتج للعميل على تليجرام. أرسل JSON: {\"image_url\": \"رابط الصورة\", \"chat_id\": \"رقم المحادثة\", \"caption\": \"وصف المنتج\"}"},"id":"tool-image","name":"Tool: Send Image","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.2,"position":[704,304]},{"parameters":{"description":"Save a confirmed order to the database. Use ONLY after collecting ALL customer details. Input: JSON like {\"chat_id\": \"123\", \"username\": \"user\", \"customer_name\": \"Ahmed\", \"customer_phone\": \"0501234567\", \"customer_address\": \"Dubai, UAE\", \"payment_method\": \"cash\", \"products\": [{\"name\": \"Product\", \"price\": 99, \"quantity\": 1}], \"total_amount\": 99}","jsCode":"// Save order to Supabase using $http\nconst supabaseUrl = \"https://db.pyramedia.info\";\nconst supabaseKey = \"***REMOVED***\";\n\nlet input;\ntry { input = JSON.parse(query); } catch(e) { return \"Error: Input must be valid JSON\"; }\n\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: \"POST\",\n    url: supabaseUrl + \"/rest/v1/pyrastore_orders\",\n    headers: {\n      \"apikey\": supabaseKey,\n      \"Authorization\": \"Bearer \" + supabaseKey,\n      \"Content-Type\": \"application/json\",\n      \"Prefer\": \"return=representation\"\n    },\n    body: {\n      telegram_chat_id: String(input.chat_id || \"\"),\n      telegram_username: input.username || \"\",\n      customer_name: input.name || \"\",\n      customer_phone: input.phone || \"\",\n      customer_address: input.address || \"\",\n      payment_method: input.payment || \"\",\n      products: input.products || [],\n      total_amount: input.total || 0,\n      status: \"pending\",\n      notes: input.notes || \"\"\n    }\n  });\n  return \"تم حفظ الأوردر بنجاح! رقم الأوردر: \" + (resp[0]?.id || \"saved\");\n} catch(e) {\n  return \"Error saving order: \" + e.message;\n}","toolDescription":"حفظ أوردر جديد في قاعدة البيانات. أرسل JSON يحتوي على: chat_id (رقم المحادثة), username (يوزر تليجرام), name (اسم العميل), phone (رقم الجوال), address (العنوان), payment (طريقة الدفع), products (مصفوفة المنتجات مع name و price و quantity), total (المبلغ الإجمالي), notes (ملاحظات). مثال: {\"chat_id\": \"123\", \"username\": \"user1\", \"name\": \"محمد\", \"phone\": \"0501234567\", \"address\": \"دبي مارينا\", \"payment\": \"كاش عند الاستلام\", \"products\": [{\"name\": \"ساعة\", \"price\": 259, \"quantity\": 1}], \"total\": 259}"},"id":"tool-order","name":"Tool: Save Order","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.2,"position":[912,304]},{"parameters":{},"id":"tool-think","name":"Think","type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[1104,304]},{"parameters":{"chatId":"={{ $(\"Telegram Trigger\").item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"id":"send-msg","name":"Send Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[864,0],"webhookId":"fff05dc8-c90e-4356-8dc5-bccf815b51bc","credentials":{"telegramApi":{"id":"GuTBWkUJ9qMyL8KA","name":"PyraStore Telegram Bot"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send Reply","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Tool: Search Products":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Send Image":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Save Order":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"10ca0e97-b8c0-47d2-b8ab-7da6a21da9b7","activeVersionId":"10ca0e97-b8c0-47d2-b8ab-7da6a21da9b7","versionCounter":22,"triggerCount":1,"shared":[{"updatedAt":"2026-02-11T14:07:53.094Z","createdAt":"2026-02-11T14:07:53.094Z","role":"workflow:owner","workflowId":"vcO2gtud9oEXGf9C","projectId":"11wixSbtTqb4Osvx","project":{"updatedAt":"2025-10-23T22:27:29.065Z","createdAt":"2025-10-23T21:09:10.225Z","id":"11wixSbtTqb4Osvx","name":"Mohamd Abdou <elharm.marketing@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"b3693aa5-fb49-4f93-8ac6-88d3b2144fe3","projectRelations":[{"updatedAt":"2025-10-23T21:09:10.225Z","createdAt":"2025-10-23T21:09:10.225Z","userId":"b3693aa5-fb49-4f93-8ac6-88d3b2144fe3","projectId":"11wixSbtTqb4Osvx","user":{"updatedAt":"2026-02-11T14:16:50.041Z","createdAt":"2025-10-23T21:09:09.382Z","id":"b3693aa5-fb49-4f93-8ac6-88d3b2144fe3","email":"elharm.marketing@gmail.com","firstName":"Mohamd","lastName":"Abdou","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-10-23T22:27:45.365Z","personalization_survey_n8n_version":"1.114.4","companySize":"<20","companyType":"saas","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"vcO2gtud9oEXGf9C","userActivatedAt":1770819406899,"npsSurvey":{"responded":true,"lastShownAt":1763563162633}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-11","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-11T14:35:40.831Z","createdAt":"2026-02-11T14:35:40.831Z","versionId":"10ca0e97-b8c0-47d2-b8ab-7da6a21da9b7","workflowId":"vcO2gtud9oEXGf9C","nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"trigger-1","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[0,0],"webhookId":"842f4d1c-7c11-4433-8109-0821680e5dbf","credentials":{"telegramApi":{"id":"GuTBWkUJ9qMyL8KA","name":"PyraStore Telegram Bot"}}},{"parameters":{"promptType":"define","text":"=Chat ID: {{ $json.message.chat.id }}\nUsername: {{ $json.message.from.username || \"unknown\" }}\nMessage: {{ $json.message.text }}","options":{"systemMessage":"أنت مساعد خدمة عملاء ذكي وودود لمتجر **PyraStore UAE** 🛍️\nمتجر إلكتروني في الإمارات يبيع منتجات متنوعة (إلكترونيات، جمال، أزياء، ألعاب، منزل).\n\n## أسلوبك:\n- تتكلم عربي (لهجة خليجية ودودة)\n- سريع ومختصر — رد واحد فقط لكل رسالة\n- تستخدم إيموجي بشكل مناسب\n- محترف وأمين\n- لا تكرر نفس السؤال أبداً\n\n## القدرات:\n1. **البحث عن منتجات**: لما العميل يسأل عن منتج أو فئة، استخدم أداة البحث فوراً واعرض النتائج\n2. **إرسال صور**: بعد ما تعرض منتج، أرسل صورته باستخدام أداة إرسال الصور\n3. **تأكيد الشراء وجمع البيانات**\n\n## عملية الشراء (مهم جداً!):\nلما العميل يقول يبغى يشتري منتج، اتبع هذه الخطوات بالترتيب:\n- **خطوة 1:** أكد المنتج والسعر\n- **خطوة 2:** اطلب الاسم الكامل\n- **خطوة 3:** اطلب رقم الجوال\n- **خطوة 4:** اطلب عنوان التوصيل الكامل\n- **خطوة 5:** اسأل عن طريقة الدفع (كاش عند الاستلام أو تحويل بنكي) — اسأل مرة واحدة فقط وانتظر الرد\n- **خطوة 6:** اعرض ملخص الأوردر الكامل واسأل \"تأكد؟\"\n- **خطوة 7:** بعد التأكيد، احفظ الأوردر\n\n⚠️ قواعد مهمة:\n- اسأل سؤال واحد فقط في كل رسالة\n- لا تكرر نفس السؤال أبداً — لو العميل رد، انتقل للخطوة التالية\n- لو العميل قال \"كاش\" أو \"عند الاستلام\" = كاش عند الاستلام\n- لو العميل قال \"تحويل\" = تحويل بنكي\n\n## حفظ الأوردر:\nلما تحفظ الأوردر، أرسل JSON بهذا الشكل بالضبط:\n{\"chat_id\": \"CHAT_ID\", \"username\": \"USERNAME\", \"name\": \"اسم العميل\", \"phone\": \"رقم الجوال\", \"address\": \"العنوان الكامل\", \"payment\": \"كاش عند الاستلام\", \"products\": [{\"name\": \"اسم المنتج\", \"price\": 259, \"quantity\": 1}], \"total\": 259, \"notes\": \"\"}\n\n## عرض المنتجات:\n📦 **اسم المنتج**\n💰 السعر: XXX AED\n🔗 [اضغط هنا للشراء](الرابط)\n\n## إرسال الصور:\nبعد عرض كل منتج، أرسل صورته بهذا الشكل:\n{\"image_url\": \"رابط الصورة\", \"chat_id\": \"CHAT_ID\", \"caption\": \"📦 اسم المنتج - AED السعر\"}\n\n## معلومات المتجر:\n- الاسم: PyraStore UAE\n- الموقع: https://events.pyramedia.info/\n- العملة: AED (درهم إماراتي)\n- التوصيل: متاح في كل الإمارات\n- الدفع: كاش عند الاستلام أو تحويل بنكي"}},"id":"agent-1","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[304,0]},{"parameters":{"model":"openai/gpt-4.1","options":{}},"id":"llm-1","name":"OpenRouter Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[112,304],"credentials":{"openRouterApi":{"id":"8wV5dZWbPCKkr4ng","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}","contextWindowLength":20},"id":"memory-1","name":"Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[304,304]},{"parameters":{"description":"Search products in PyraStore catalog. Input: JSON string like {\"q\": \"electronics\"} or {\"q\": \"all\"} to get all products. Returns product details with name, price, category, image URL, and link.","jsCode":"// Search PyraStore products - uses $http (n8n compatible)\nconst baseUrl = \"https://events.pyramedia.info/api\";\n\nconst categoryMap = {\n  \"الكترونيات\": \"electronics\", \"إلكترونيات\": \"electronics\", \"الكترونيا\": \"electronics\", \"الكتروني\": \"electronics\",\n  \"جمال\": \"beauty\", \"تجميل\": \"beauty\", \"بيوتي\": \"beauty\", \"كريم\": \"beauty\", \"عناية\": \"beauty\",\n  \"ازياء\": \"fashion\", \"أزياء\": \"fashion\", \"ملابس\": \"fashion\", \"شنط\": \"fashion\", \"شنطة\": \"fashion\", \"ساعة\": \"fashion\", \"ساعات\": \"fashion\",\n  \"العاب\": \"toys\", \"ألعاب\": \"toys\", \"لعب\": \"toys\", \"لعبة\": \"toys\",\n  \"منزل\": \"home\", \"بيت\": \"home\", \"منزلي\": \"home\", \"مطبخ\": \"home\",\n  \"electronics\": \"electronics\", \"beauty\": \"beauty\", \"fashion\": \"fashion\",\n  \"toys\": \"toys\", \"home\": \"home\"\n};\n\nlet input;\ntry { input = JSON.parse(query); } catch(e) { input = { q: query }; }\nconst searchQuery = (input.q || input.query || input.search || query).trim().toLowerCase();\n\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: \"GET\",\n    url: baseUrl + \"/products.php\",\n    returnFullResponse: false\n  });\n  \n  let products = resp.products || [];\n  \n  const matchedCategory = categoryMap[searchQuery];\n  \n  let filtered;\n  if (matchedCategory) {\n    filtered = products.filter(p => p.category === matchedCategory);\n  } else {\n    filtered = products.filter(p => \n      p.title && p.title.toLowerCase().includes(searchQuery)\n    );\n    if (filtered.length === 0) {\n      const words = searchQuery.split(/\\s+/);\n      filtered = products.filter(p => \n        words.some(w => w.length > 2 && p.title && p.title.toLowerCase().includes(w.toLowerCase()))\n      );\n    }\n  }\n  \n  if (filtered.length === 0) {\n    filtered = products.slice(0, 5);\n    let result = \"لم أجد نتائج مطابقة. إليك أحدث المنتجات:\\n\\n\";\n    for (const p of filtered) {\n      result += \"🆔 \" + p.id + \" | 📦 \" + p.title.substring(0, 60) + \"\\n\";\n      result += \"💰 \" + p.price + \" AED | 🏷️ \" + (p.category || \"عام\") + \"\\n\";\n      result += \"🔗 \" + (p.affiliate_link || \"\") + \"\\n\";\n      result += \"🖼️ \" + (p.image_url || \"\") + \"\\n---\\n\";\n    }\n    result += \"\\nالفئات المتاحة: إلكترونيات، جمال، أزياء، ألعاب، منزل\";\n    return result;\n  }\n  \n  filtered = filtered.slice(0, 5);\n  let result = \"نتائج البحث (\" + filtered.length + \" منتجات):\\n\\n\";\n  for (const p of filtered) {\n    result += \"🆔 \" + p.id + \" | 📦 \" + p.title.substring(0, 60) + \"\\n\";\n    result += \"💰 \" + p.price + \" AED | 🏷️ \" + (p.category || \"عام\") + \"\\n\";\n    result += \"🔗 \" + (p.affiliate_link || \"\") + \"\\n\";\n    result += \"🖼️ \" + (p.image_url || \"\") + \"\\n---\\n\";\n  }\n  return result;\n} catch(e) {\n  return \"خطأ في البحث: \" + e.message;\n}","toolDescription":"بحث عن منتجات في المتجر. أرسل اسم المنتج أو الفئة بالعربي أو الإنجليزي. الفئات: إلكترونيات، جمال، أزياء، ألعاب، منزل. أمثلة: \"electronics\" أو \"الكترونيات\" أو \"Fossil\" أو \"bag\"."},"id":"tool-search","name":"Tool: Search Products","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.2,"position":[512,304]},{"parameters":{"description":"Send a product image to the customer on Telegram. Input: JSON string like {\"image_url\": \"https://...\", \"chat_id\": \"123456\", \"caption\": \"Product Name - 99 AED\"}. ALWAYS include chat_id from the conversation.","jsCode":"// Send product image via Telegram using $http\nconst botToken = \"***REMOVED***\";\nlet input;\ntry { input = JSON.parse(query); } catch(e) { return \"Error: Input must be JSON with image_url and chat_id\"; }\n\nconst imageUrl = input.image_url || input.url;\nconst chatId = input.chat_id;\nconst caption = input.caption || \"\";\n\nif (!imageUrl || !chatId) return \"Error: Missing image_url or chat_id\";\n\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: \"POST\",\n    url: \"https://api.telegram.org/bot\" + botToken + \"/sendPhoto\",\n    body: {\n      chat_id: chatId,\n      photo: imageUrl,\n      caption: caption,\n      parse_mode: \"Markdown\"\n    },\n    headers: { \"Content-Type\": \"application/json\" }\n  });\n  return \"Image sent successfully!\";\n} catch(e) {\n  return \"Error sending image: \" + e.message;\n}","toolDescription":"إرسال صورة منتج للعميل على تليجرام. أرسل JSON: {\"image_url\": \"رابط الصورة\", \"chat_id\": \"رقم المحادثة\", \"caption\": \"وصف المنتج\"}"},"id":"tool-image","name":"Tool: Send Image","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.2,"position":[704,304]},{"parameters":{"description":"Save a confirmed order to the database. Use ONLY after collecting ALL customer details. Input: JSON like {\"chat_id\": \"123\", \"username\": \"user\", \"customer_name\": \"Ahmed\", \"customer_phone\": \"0501234567\", \"customer_address\": \"Dubai, UAE\", \"payment_method\": \"cash\", \"products\": [{\"name\": \"Product\", \"price\": 99, \"quantity\": 1}], \"total_amount\": 99}","jsCode":"// Save order to Supabase using $http\nconst supabaseUrl = \"https://db.pyramedia.info\";\nconst supabaseKey = \"***REMOVED***\";\n\nlet input;\ntry { input = JSON.parse(query); } catch(e) { return \"Error: Input must be valid JSON\"; }\n\ntry {\n  const resp = await this.helpers.httpRequest({\n    method: \"POST\",\n    url: supabaseUrl + \"/rest/v1/pyrastore_orders\",\n    headers: {\n      \"apikey\": supabaseKey,\n      \"Authorization\": \"Bearer \" + supabaseKey,\n      \"Content-Type\": \"application/json\",\n      \"Prefer\": \"return=representation\"\n    },\n    body: {\n      telegram_chat_id: String(input.chat_id || \"\"),\n      telegram_username: input.username || \"\",\n      customer_name: input.name || \"\",\n      customer_phone: input.phone || \"\",\n      customer_address: input.address || \"\",\n      payment_method: input.payment || \"\",\n      products: input.products || [],\n      total_amount: input.total || 0,\n      status: \"pending\",\n      notes: input.notes || \"\"\n    }\n  });\n  return \"تم حفظ الأوردر بنجاح! رقم الأوردر: \" + (resp[0]?.id || \"saved\");\n} catch(e) {\n  return \"Error saving order: \" + e.message;\n}","toolDescription":"حفظ أوردر جديد في قاعدة البيانات. أرسل JSON يحتوي على: chat_id (رقم المحادثة), username (يوزر تليجرام), name (اسم العميل), phone (رقم الجوال), address (العنوان), payment (طريقة الدفع), products (مصفوفة المنتجات مع name و price و quantity), total (المبلغ الإجمالي), notes (ملاحظات). مثال: {\"chat_id\": \"123\", \"username\": \"user1\", \"name\": \"محمد\", \"phone\": \"0501234567\", \"address\": \"دبي مارينا\", \"payment\": \"كاش عند الاستلام\", \"products\": [{\"name\": \"ساعة\", \"price\": 259, \"quantity\": 1}], \"total\": 259}"},"id":"tool-order","name":"Tool: Save Order","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.2,"position":[912,304]},{"parameters":{},"id":"tool-think","name":"Think","type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[1104,304]},{"parameters":{"chatId":"={{ $(\"Telegram Trigger\").item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"id":"send-msg","name":"Send Reply","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[864,0],"webhookId":"fff05dc8-c90e-4356-8dc5-bccf815b51bc","credentials":{"telegramApi":{"id":"GuTBWkUJ9qMyL8KA","name":"PyraStore Telegram Bot"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send Reply","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Tool: Search Products":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Send Image":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Save Order":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"authors":"Mohamd Abdou","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-11T14:35:42.234Z","id":466,"workflowId":"vcO2gtud9oEXGf9C","versionId":"10ca0e97-b8c0-47d2-b8ab-7da6a21da9b7","event":"activated","userId":"b3693aa5-fb49-4f93-8ac6-88d3b2144fe3"}]}}