projects/tasheel/tasheel-basic.json
{
  "name": "Tasheel AI WhatsApp Intake - Demo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tasheel-webhook",
        "options": {}
      },
      "id": "9a35105f-d97f-4693-874d-b7cd29209e02",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f7d03906-4a28-407c-ad2f-b130efe561c7",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e7d7344c-987f-4956-bdb0-295bb2a0d658",
      "name": "Filter Not FromMe",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst data = body.data || {};\nconst key = data.key || {};\nconst msg = data.message || {};\nconst remoteJid = key.remoteJid || '';\nconst pushName = data.pushName || '';\nconst messageType = data.messageType || 'conversation';\nlet userMessage = '';\nlet mediaKey = '';\nlet fileName = '';\nswitch(messageType) {\n  case 'conversation': userMessage = msg.conversation || ''; break;\n  case 'extendedTextMessage': userMessage = msg.extendedTextMessage?.text || ''; break;\n  case 'audioMessage': userMessage = '[Voice Message]'; mediaKey = key.id || ''; break;\n  case 'imageMessage': userMessage = '[Image' + (msg.imageMessage?.caption ? ': ' + msg.imageMessage.caption : '') + ']'; mediaKey = key.id || ''; break;\n  case 'documentMessage': fileName = msg.documentMessage?.fileName || 'document'; userMessage = '[Document: ' + fileName + ']'; mediaKey = key.id || ''; break;\n}\nreturn [{json: {remoteJid, pushName, messageType, userMessage, mediaKey, fileName, messageId: key.id || '', instanceName: body.instance || 'test1'}}];"
      },
      "id": "ccceece2-3fc7-453a-9050-4218d3636683",
      "name": "Extract Message Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        400
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "Audio"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "Image"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "documentMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "Document"
            }
          ],
          "fallbackOutput": "extra"
        },
        "options": {}
      },
      "id": "6f626cdd-736e-49d5-b2e0-5dfe5f98aef5",
      "name": "Check Media Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        880,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.pyramedia.info/chat/getBase64FromMediaMessage/test1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "EVOLUTION_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({message: {key: {remoteJid: $('Extract Message Data').item.json.remoteJid, id: $('Extract Message Data').item.json.messageId}}}) }}"
      },
      "id": "edf59ed6-4ae4-4e39-9f2c-7f4dd782ba68",
      "name": "Get Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.pyramedia.info/chat/getBase64FromMediaMessage/test1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "EVOLUTION_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({message: {key: {remoteJid: $('Extract Message Data').item.json.remoteJid, id: $('Extract Message Data').item.json.messageId}}}) }}"
      },
      "id": "af29722a-9069-46e4-b0a6-47cb6367fa82",
      "name": "Get Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.pyramedia.info/chat/getBase64FromMediaMessage/test1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "EVOLUTION_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({message: {key: {remoteJid: $('Extract Message Data').item.json.remoteJid, id: $('Extract Message Data').item.json.messageId}}}) }}"
      },
      "id": "1b076256-85aa-4efb-9fa7-95e4599fc918",
      "name": "Get Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evo.pyramedia.info/message/sendText/test1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "EVOLUTION_API_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({number: $('Extract Message Data').item.json.remoteJid, text: $json.output}) }}"
      },
      "id": "b64d73a9-7420-4101-b501-59183cdbbde7",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter Not FromMe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Not FromMe": {
      "main": [
        [
          {
            "node": "Extract Message Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Data": {
      "main": [
        [
          {
            "node": "Check Media Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Media Type": {
      "main": [
        [
          {
            "node": "Get Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}